.Header_top{
    background-color: rgb(212, 176, 245);
    padding: 15px;
    font-size: x-large;
    font-family: poppins;
    display: flex;
    color: black;
    flex-direction: row;
    align-items: center;
    justify-content: start
}
.Header_top :hover{
color: blueviolet;
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.back{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.back_button{
    border: 1px ;
    border-radius: 5px;
    background-color: blueviolet;
}