.Header_top{
    background-color: rgb(212, 176, 245);
    padding: 15px;
    font-size: x-large;
    font-family: poppins;
    display: flex;
    color: black;
    flex-direction: row;
    align-items: center;
    justify-content: start
}
.Header_top :hover{
color: blueviolet;
}

.header{
    display: flex;
    flex-direction: row;
    margin: 10px;
    justify-content: space-between;
}

.back{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.back_button{
    padding: 4px;
    border: 1px ;
    border-radius: 5px;
    background-color: blueviolet;
}
.Home_button{
    padding: 5px;
    border: 1px;
    display: flex;
    margin-left: 20px;
    border-radius: 5px;
    background-color: blueviolet;
}
.Home_button:hover{
    background-color: rgb(173, 92, 249); ;
}

.loading{
    font-size: 2rem;
    display: flex;
    color: blueviolet;
    justify-content:center;
    font-family: poppins;
}