.area_container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
   justify-content: center;    
}

.area{
    color: rgb(0, 8, 255);
    display: flex ;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
    margin-left: 10px;
    padding: 10px;
    background-color: rgb(198, 211, 216);
}
.area:hover{
    color: black;
}