.area_container {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    grid-gap: 1.25rem;
    padding: 1.25rem;

    @media (min-width: 640px) {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    ;

    @media (min-width: 768px) {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }

    @media (min-width: 1024px) {
        grid-template-columns: repeat(4, minmax(0, 1fr));

    }
}

.area {
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05), 0 1px 3px 1px rgba(0, 0, 0, 0.1);
    background-color: #d1d5db;
    color: black;
    text-transform: capitalize;
    text-align: center;
    border-radius: 0.25rem;
    border-radius: 0.25rem;
    font-size: 1.5rem;
    line-height: 2rem;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    font-weight: 700;
    cursor: pointer;
}

.area:hover {
    background-color: #3b82f6;
    ;
    color: #fff;
}