.Detail_container{
display: grid;
grid-template-columns: repeat(2,1fr);
}

.img{
width: 100%;
margin: 10px;
border: 1px solid black;
border-radius: 100px;}

.details{
display: flex;
flex-direction: column;
justify-content: center;
align-items:center;
}

.details h3{
    background-color: blueviolet;
    margin: 20px;
    color: black;
    font-weight:600 ;
    font-family: poppins;
    text-align: center;
    cursor: pointer;
    border: 1px solid blueviolet;
    border-radius: 10px 50px  ;
    padding: 10px;
    font-size: 0.9rem;
}

.details h2{
    font-size: 2rem;
}
.details h1{
    font-size: 2.5rem;
    color: blueviolet;
}
.details h4{
    font-size: 1rem;
    background-color: gold;
    color: black;
    border: 1px solid black;
    padding: 5px;
    border-radius: 10px;
}
/* Media queries for smaller screens */
@media screen and (max-width: 768px) {
    .Detail_container {
      grid-template-columns: 1fr;
    }
  }
  
  /* Media queries for larger screens */
  @media screen and (min-width: 1024px) {
    .Detail_container {
      grid-template-columns: repeat(1fr);
    }
    
    .details h1 {
      font-size: 3rem;
    }
  }